<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>the ninja_void</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav class="#212121 grey darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="white-text brand-logo">the ninja_void</a>
      <ul class="right hide-on-med-and-down white-text">
        <li class="white-text">Hello fellow frustrated ninja!</li>
        <li>
          <form action="/process_logoff" method= "POST">
            <input class="waves-effect waves-light-blue btn-flat" type="submit" value="(leave)">
          </form>
        </li>
      </ul>

      <ul id="nav-mobile" class="side-nav white">
        <li><a href="/process_logoff">(leave)</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="white-text button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


<!-- where message post starts-->
  <div class="container">
      <div class="row">
          <div class="row">
            <form class="col s12" action="/process_message" method="POST">
            <div class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea name="message" id="icon_prefix2" class="materialize-textarea"></textarea>
              <label for="icon_prefix2">shout it to the void!</label>
            </div>
          </div>
            <div class="col s3 offset-s9">
              <button class="btn waves-effect waves-light #81d4fa light-blue lighten-3" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
        </form>
      </div>
    </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 light">Wanna know what goes great with a venting session?</h4>
          <h2 class="header col s12">COFFEE.</h2>
          <h5 class="header col s12 light">Go get some, you deserve it.</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="{{ url_for('static', filename='img/background7.jpg')}}" alt="Unsplashed background img 2">
    </div>
  </div>

  <div class="container">
    <div>
      {% for message in messages: %}
      <h6 class="orange-text">
        {{ message['user_name'] }}
        <span class="grey-text light">
          {{ message['created_at'] }}
        </span></h6>
      <div>{{ message['message'] }}</div>
      <div class="right-align">
        <a href={{'/wall/{}'.format(message.id) }}>view thread</a>
        <hr>
      </div>
      {% endfor %}
    </div>
  </div>
  <footer class="page-footer #81d4fa light-blue lighten-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">what is ninja void?</h5>
          <p class="grey-text text-lighten-4">Ninja void is a place where we can all vent our frustrations while we are becoming software developers. You can choose to remain anonymous, or create your own username! </p>
        </div>
        <div class="col l3 offset-s8 right-align">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright #81d4fa light-blue lighten-3">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/materialize.js')}}"></script>
  <script src="{{ url_for('static', filename='js/init.js')}}"></script>

  </body>
</html>
